{{page-title 'Edit'}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author.detail" @model={{this.model}} class="btn-back">
      <span class="sr-only">
        Back
      </span>
      ←
    </LinkTo>
    <div class="slide-out-heading">
      <div class="title">
        <h3>
          Edit
          {{this.model.author}}
        </h3>
      </div>
    </div>
    <div class="slide-out-content">
      {{!-- <form {{on 'submit' this.saveAuthor}}>
        <div class="field">
          <label>
            First Name:
          </label>
          <input
            type="text"
            placeholder="First Name"
            value={{this.model.author}}
            {{on 'input' this.changeFirstName value='target.value'}}
          />
        </div>
        <div class="field">
          <label>
            Last Name:
          </label>
          <input
            type="text"
            value={{this.model.lastName}}
            placeholder="Last Name"
            {{on 'input' this.changeLastName value='target.value'}}
          />
        </div>
        <div class="form-footer">
          <button type="submit" class="btn-submit">
            save
          </button>
        </div>
      </form> --}}
      <AuthorForm
        @saveAuthor={{this.editAuthor}}
        @author={{this.model}}
        @buttonText="Edit Author"
      />
    </div>
  </div>
</div>
