{{page-title 'Edit'}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author.detail" @model={{this.model}} class="btn-back">
      <span class="sr-only">
        Back
      </span>
      ←
    </LinkTo>
    <div class="slide-out-heading">
      <div class="title">
        <h3>
          Edit
          {{this.model.author}}
        </h3>
      </div>
    </div>
    <div class="slide-out-content">
      <AuthorForm
        @saveAuthor={{this.editAuthor}}
        @author={{this.model}}
        @buttonText="Edit Author"
      />
    </div>
  </div>
</div>
