{{page-title 'Author'}}
<div class="panel-heading">
  <FaIcon @icon="coffee" @size="4x" />
  <div class="search">
    <Input
      @type="text"
      placeholder="Search by Author Name"
      @value={{this.search}}
    />
  </div>
  <a href class="btn-new">
    <div class="sr-only">
      Add new Author
    </div>
  </a>
</div>
<div class="panel-content">
  <h3 class="panel-title">
    Authors
  </h3>
  <ul class="collection">
    {{#each this.model as |author|}}
      <li>
        <LinkTo @route="author.detail">
          <strong>
            {{author.lastName}}
          </strong>
          ,
          {{author.firstName}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
