{{page-title 'Author'}}
<div class="panel-heading">
  <FaIcon @icon="coffee" @size="4x" />
  <div class="search">
    <Input
      @type="text"
      placeholder="Search by Author Name"
      @value={{this.searchTerm}}
    />
  </div>
  <LinkTo @route="author.create" class="btn-new">
    <div class="sr-only">
      Add new Author
    </div>
  </LinkTo>
</div>
<div class="panel-content">
  <h3 class="panel-title">
    Authors
  </h3>
  <ul class="collection">
    {{#each this.model as |author i|}}
      <li>
        <LinkTo @route="author.detail" @model={{author}}>
          <strong>
            {{i}}
            {{author.author}}
          </strong>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
